:root {
  --banner-color: #050505;
  --footer-color: #07050a;
  --backgroundtop-color: #0e1123;
  --backgroundbottom-color: #0d0b1d;
  --text-color: #ccc;
  --textHovered-color: #ffffff;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  /*background: linear-gradient(to bottom, var(--backgroundtop-color), var(--backgroundbottom-color));*/
  background: #0b0b0b;
  background-attachment:fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--banner-color);
  padding: 1rem 2rem;
  position:initial;
  top: 0;
  z-index: 10;
}

.logo {
    cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;

}

nav a {
  margin-left: 1rem;
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}


/* Sections */
section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.bio-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.bio-img {
  width: 220px; 
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.bio-text {
  flex: 1;
}

.pfp-container {
  text-align: center;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
}

.pfp-caption {
  margin-top: 10px;
  color: #ccc;
  font-size: 1rem;
}

.contact a {
  color: #ffffff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: none; 
  opacity: 0.8;          
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.project-card {
  background: #1d1d1d;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.3);
  transition: transform 0.25s, box-shadow 0.25s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

.project-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.project-card h3 {
  margin: 0 0 8px;
  color: #fff;
}

.project-card p {
  color: #ccc;
  line-height: 1.4;
  font-size: 0.95rem;
}

.card-link {
  text-decoration: none;
  color: inherit;    
  display: block;    
}

.row {
  display: flex;
  align-items: center;      
  justify-content: center;   
  gap: 20px;                
}

.side-img {
  width: 320px; 
  flex-shrink: 1;  
}

.side-video{
  width: 540px;
  height: 720px;
  flex-shrink: 1;  
}

.middle-text {
  flex: 1;        
  text-align: center;
  font-size: 1.1rem; 
}

.side-vid {
  max-width: 540px;
  height: auto;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity .6s ease-out, transform .6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}